{% extends 'base.html.twig' %}

{% block title %}
{{product.name}}
{% endblock %}

{% block body %}

<div class="row my-5">
    <div class="col-md-12">

        <div class="my-3 d-flex justify-content-start align-items-center">

                <a href="{{ path('order_store',{product: product.id}) }}" class="btn btn-sm btn-outline-dark mx-1">
                    Order now
                </a>

        </div>

        <div class="row">

            {% if product %}
                    <div class="col-md-12">
                        <div class="card h-100">

                            {% if product.image %}
                                <img
                                    src="{{ asset('uploads/' ~ product.image) }}"
                                    alt="{{ product.name }}"
                                    class="card-img-top"
                                    style="height: 200px; object-fit: cover;"
                                >
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>

                                <h5>
                                    <span class="text-danger">
                                        {{ product.price }} DH
                                    </span>
                                </h5>
                                <h5>
                                    <span class="text-success">
                                        {{ product.category.name }}
                                    </span>
                                </h5>

                               
                            </div>

                        </div>
                    </div>
    

            {% else %}

                <div class="alert alert-info">
                    No product found
                </div>

            {% endif %}

        </div>

    </div>
</div>

{% endblock %}